databases:
  - name: makerspace-db
    plan: free

services:
  - type: web
    name: makerspace-booking
    runtime: node
    buildCommand: npm run render-build
    startCommand: cd backend && node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: makerspace-db
          property: connectionString
